<h2>Hello BOT</h2>




	<div class = "direction"><span class = "move-forward">Move Forward: <span class = "forward-distance"></span></div>
	</div>	

	<div class = "direction"><span class = "move-backward">Move Backward: <span class = "backward-distance"></span></div>
	</div>
	<div class = "direction"><span class = "turn-right">Turn Right: <span class = "right-distance"></span></div>
	</div>
	<div class = "direction"><span class = "turn-left">Turn Left: <span class = "left-distance"></span></div>
	</div>
	<div class = "direction"><span class = "strafe-right">Strafe Right: <span class = "rstrafe-distance"></span></div>
	</div>
	<div class = "direction"><span class = "strafe-left">Strafe Left: <span class = "lstrafe-distance"></span></div>
	</div>
	<div class = "direction"><span class="stop">Stop</div>
	</div>


<div class = "test">Test</div>
<div class = "block"></div>