<h2>Hello BOT</h2>
<div class = "move-forward">Move Forward: <span class = "forward-distance"></span></div>
<div class = "move-backward">Move Backward: <span class = "backward-distance"></span></div>
<div class = "turn-right">Turn Right: <span class = "right-distance"></span></div>
<div class = "turn-left">Turn Left: <span class = "left-distance"></span></div>
<div class = "strafe-right">Strafe Right: <span class = "rstrafe-distance"></span></div>
<div class = "strafe-left">Strafe Left: <span class = "lstrafe-distance"></span></div>


<div class = "stop">Stop</div>


