<h1>Who Dat?</h1>
<div id = "main-container">

	<div class = "direction body verical">
		<span class = "move-forward"></span>
	</div>	

	<div class = "direction body left-arm inrow">
		<span class = "strafe-left"></span>
	</div>

	<div class = "direction body inrow">
		<span class="stop"></span>
	</div>

	<div class = "direction body right-arm inrow">
		<span class = "strafe-right"></span>
	</div>


	<div class = "direction body vertical">
		<span class = "move-backward"></span>
	</div>

<!-- turning -->
	<div class = "direction turn tr">
		<span class = "turn-right"></span>
	</div>

	<div class = "direction turn">
		<span class = "turn-left"></span>
	</div>


</div>